@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400');
body
{
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}
nav
{
	height: 44px;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	background: #000;
}
.menu
{
	position: relative;
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
}
.menu-main
{
	width: 100%;
	display: flex;
	line-height: 44px;
	text-decoration: none;
	font-size: 35px;
	font-family: 'Brush Script MT';
	font-style: italic;
	font-weight: 700;
	color: #e0e0ff;
	text-align: center;
}
h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 300px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}